.profile-info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, min-content);
    justify-items: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 320px) {
    .profile-info{
        max-width: 282px;
        justify-self: center;
        grid-row: 2;
    }
}

@media screen and (min-width: 1280px) {
    .profile-info {
        max-width: 336px;
        justify-self: start;
        grid-row: 1;
        grid-column: 2;
    }
}