.popup__button-submit{
    height: 50px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	margin-top: 48px;
	background: #000000;
	border-radius: 7px;
	width: 100%;
	color: white;
	border: none;
}

.popup__button-submit:hover {
    background: rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

.popup__button-submit:disabled {
    background: #FFFFFF;
	opacity: .2;
	color: #000000;
	cursor: none;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 2px;
}

@media screen and (max-width: 375px){
    .popup__button-submit {
        margin-top: 15px;
        min-height: 40px;
        font-size: 14px;
    }
}