.popup__form {
    display: flex;
	flex-direction: column;
	justify-content: start;
}
 
@media screen and (max-width: 475px){
   .popup__form {
      margin: 0 24px 24px;
    }
}

@media screen and (max-width: 375px){
    .popup__form {
        max-width: 240px;
        margin: 0 20px 30px;
    }
}
