.popup {
    display: none;
    background: #00000079;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity 0.5s linear;
}
  